@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
:root {
  --dark-color: #19283f;
  --orange-color: #ff680a;
  --hover-color: #ff8c42;
  --white-color: #eff7fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Robot", sans-serif;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
::selection {
  color: #fff;
  background: var(--orange-color);
}

/* Start Navbar */
.dad {
  height: 100vh;
  overflow: hidden;
}
.hero-img-bg {
  position: relative;
  bottom: 7rem;
  height: 727px;
}
.hero-img {
  position: relative;
  left: 49rem;
  width: 33rem;
  animation: up-and-down 5s linear infinite;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--orange-color);
}
.navbar .logo {
  width: 132px;
}
.shopping-cart {
  color: var(--orange-color);
}
#shopping-cart {
  margin-right: 4rem;
}
.shopping-cart:hover {
  color: var(--hover-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--orange-color);
}
.main-btn {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border: none;
}
.main-btn:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  transition: all 0.3s ease;
}
/* End Navbar */

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    bottom: 40rem;
  }
  50% {
    bottom: 44rem;
  }
}
